clusters_dir /var/lib/kanopya/clusters/
masterimages_dir /var/lib/kanopya/masterimages/
tftp_dir /var/lib/kanopya/tftp/
log_dir /result/logs/
sessions_dir /tmp/kanopya-sessions/
mysql_host 127.0.0.1
mysql_port 3306
mysql_root_passwd K4n0pY4
mysql_kanopya_passwd K4n0pY4
domainname hederatech.com
admin_iface ${interface}
admin_net_ip ${network}
admin_net_mask 255.255.255.0
admin_ip ${ip}
admin_net_size 240
admin_net_gateway ${ip}
vg_name kanopyavg


